%p#notice= notice

%p
  %b Photo:
  = @client.photo
%p
  %b First name:
  = @client.first_name
%p
  %b Last name:
  = @client.last_name
%p
  %b Phone:
  = @client.phone
%p
  %b Bio:
  = @client.bio
%p
  %b User:
  = @client.user_id
%p
  %b Account:
  = @client.account_id

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
